In [121]:
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [122]:
dataset = pd.read_csv("usnews_dataset.csv")
dataset.head()

,Name,Ranking,usnews.com link,Tuition and Fees,Room and Board,Total Enrollment,School Type,Year Founded,Religiious Affiliation,Academic Calendar,...,Total undergraduate enrollment,Undergraduates who are first generation,Out-of-state students,International students,Registered clubs and organizations,Number of sports,Unnamed: 76,Peer_assessment,First_year_top_ten,Social Mobility rank
0,Williams College,1,https://www.usnews.com/best-colleges/williams-...,"$57,280",14990,2127.0,"Private, Coed",1793.0,None,04-01-04,...,2073.0,22%,86%,7.80%,154.0,17.0,NaN,4.7,89%,90.0
1,Amherst College,2,https://www.usnews.com/best-colleges/amherst-c...,"$58,640",15310,1855.0,"Private, Coed",1821.0,None,Semester,...,1855.0,21%,87%,8.10%,177.0,12.0,NaN,4.6,88%,99.0
2,Swarthmore College,3,https://www.usnews.com/best-colleges/swarthmor...,"$54,656",16088,1559.0,"Private, Coed",1864.0,None,Semester,...,1559.0,27%,87%,13.20%,154.0,8.0,NaN,4.6,90%,148.0
3,Wellesley College,3,https://www.usnews.com/best-colleges/wellesley...,"$56,052",17096,2534.0,"Private, Women's college",1870.0,None,Semester,...,2534.0,17%,86%,13.60%,153.0,8.0,NaN,4.5,83%,113.0
4,Pomona College,5,https://www.usnews.com/best-colleges/pomona-co...,"$54,762",17218,1679.0,"Private, Coed",1887.0,None,Semester,...,1679.0,30%,74%,11.40%,227.0,9.0,NaN,4.5,91%,113.0

Filter the columns of interest + drop N/A rows:

In [123]:
usnews = dataset[['Name', 'Ranking', 'Peer_assessment', 'Total Enrollment', '2018 Endowment','Student_faculty_ratio','Registered clubs and organizations','Number of sports','First_year_top_ten']]
usnews = usnews.dropna()
usnews.head()

,Name,Ranking,Peer_assessment,Total Enrollment,2018 Endowment,Student_faculty_ratio,Registered clubs and organizations,Number of sports,First_year_top_ten
0,Williams College,1,4.7,2127.0,"$2,600,000,000.00",7:01,154.0,17.0,89%
1,Amherst College,2,4.6,1855.0,"$2,400,000,000.00",7:01,177.0,12.0,88%
2,Swarthmore College,3,4.6,1559.0,"$2,100,000,000.00",8:01,154.0,8.0,90%
3,Wellesley College,3,4.5,2534.0,"$2,100,000,000.00",8:01,153.0,8.0,83%
4,Pomona College,5,4.5,1679.0,"$2,300,000,000.00",8:01,227.0,9.0,91%

**Clean data**

In [124]:
def endowment_format(s):
    s = s.replace(',','').split('.')[0]
    return s[1:]
def ratio_format(s):
    return s.split(":")[0]
def top10_format(s):
    return s[:-1]

usnews["2018 Endowment"] = usnews["2018 Endowment"].apply(endowment_format)
usnews["Student_faculty_ratio"] = usnews["Student_faculty_ratio"].apply(ratio_format)
usnews["First_year_top_ten"] = usnews["First_year_top_ten"].apply(top10_format)
usnews[["2018 Endowment", "Student_faculty_ratio", "First_year_top_ten"]] = usnews[["2018 Endowment", "Student_faculty_ratio", "First_year_top_ten"]].astype('float64')

In [125]:
# Data after cleaning
usnews.head()

,Name,Ranking,Peer_assessment,Total Enrollment,2018 Endowment,Student_faculty_ratio,Registered clubs and organizations,Number of sports,First_year_top_ten
0,Williams College,1,4.7,2127.0,2.600000e+09,7.0,154.0,17.0,89.0
1,Amherst College,2,4.6,1855.0,2.400000e+09,7.0,177.0,12.0,88.0
2,Swarthmore College,3,4.6,1559.0,2.100000e+09,8.0,154.0,8.0,90.0
3,Wellesley College,3,4.5,2534.0,2.100000e+09,8.0,153.0,8.0,83.0
4,Pomona College,5,4.5,1679.0,2.300000e+09,8.0,227.0,9.0,91.0

**Descriptive statistics**

In [126]:
usnews.describe()

,Ranking,Peer_assessment,Total Enrollment,2018 Endowment,Student_faculty_ratio,Registered clubs and organizations,Number of sports,First_year_top_ten
count,168.000000,168.000000,168.000000,1.680000e+02,168.000000,168.000000,168.000000,168.000000
mean,91.750000,3.160119,1747.744048,3.664304e+08,10.505952,99.797619,7.047619,36.607143
std,57.402325,0.653057,797.258371,4.969166e+08,2.044408,58.937149,5.574546,23.011852
min,1.000000,1.800000,337.000000,1.098200e+05,5.000000,3.000000,0.000000,2.000000
25%,45.750000,2.700000,1259.500000,8.602500e+07,9.000000,61.500000,3.000000,19.750000
50%,89.000000,3.100000,1688.500000,1.689500e+08,10.000000,87.000000,6.000000,30.000000
75%,132.000000,3.600000,2219.250000,3.927500e+08,11.000000,120.000000,10.000000,53.000000
max,216.000000,4.700000,4512.000000,2.600000e+09,19.000000,347.000000,25.000000,100.000000

In [127]:
usnews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168 entries, 0 to 214
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name                                168 non-null    object
 1   Ranking                             168 non-null    int64
 2   Peer_assessment                     168 non-null    float64
 3   Total Enrollment                    168 non-null    float64
 4   2018 Endowment                      168 non-null    float64
 5   Student_faculty_ratio               168 non-null    float64
 6   Registered clubs and organizations  168 non-null    float64
 7   Number of sports                    168 non-null    float64
 8   First_year_top_ten                  168 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 13.1+ KB

Create new variable

In [128]:
usnews["log_endowment_per_capita"] = np.log(usnews["2018 Endowment"]/usnews['Total Enrollment'])
usnews["clubs_per_capita"] = (usnews["Registered clubs and organizations"]/usnews['Total Enrollment'])
usnews["sports_per_capita"] = (usnews["Number of sports"]/usnews['Total Enrollment'])

**Regression**

In [133]:
ranking = ols(formula = 'Ranking ~ log_endowment_per_capita + Student_faculty_ratio + First_year_top_ten + clubs_per_capita + sports_per_capita', data = usnews).fit()
ranking.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Ranking   R-squared:                       0.755
Model:                            OLS   Adj. R-squared:                  0.747
Method:                 Least Squares   F-statistic:                     99.65
Date:                Thu, 11 Jun 2020   Prob (F-statistic):           1.39e-47
Time:                        22:02:33   Log-Likelihood:                -800.27
No. Observations:                 168   AIC:                             1613.
Df Residuals:                     162   BIC:                             1631.
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                  249.7210     37.701      6.624      0.000     175.272     324.170
log_endowment_per_capita   -13.7081      2.397     -5.719      0.000     -18.442      -8.975
Student_faculty_ratio        4.3301      1.568      2.762      0.006       1.235       7.426
First_year_top_ten          -1.3454      0.126    -10.656      0.000      -1.595      -1.096
clubs_per_capita           123.1705     78.651      1.566      0.119     -32.143     278.484
sports_per_capita         -629.5501    512.972     -1.227      0.222   -1642.523     383.423
==============================================================================
Omnibus:                       24.134   Durbin-Watson:                   1.138
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.591
Skew:                           0.733   Prob(JB):                     1.53e-09
Kurtosis:                       4.911   Cond. No.                     1.04e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.04e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [132]:
peer = ols(formula = 'Peer_assessment ~ log_endowment_per_capita + Student_faculty_ratio + First_year_top_ten + clubs_per_capita + sports_per_capita', data = usnews).fit()
peer.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        Peer_assessment   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.742
Method:                 Least Squares   F-statistic:                     97.15
Date:                Thu, 11 Jun 2020   Prob (F-statistic):           6.46e-47
Time:                        22:02:23   Log-Likelihood:                -49.880
No. Observations:                 168   AIC:                             111.8
Df Residuals:                     162   BIC:                             130.5
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                    1.2354      0.433      2.853      0.005       0.380       2.091
log_endowment_per_capita     0.1192      0.028      4.330      0.000       0.065       0.174
Student_faculty_ratio       -0.0115      0.018     -0.638      0.525      -0.047       0.024
First_year_top_ten           0.0197      0.001     13.556      0.000       0.017       0.023
clubs_per_capita            -1.1707      0.903     -1.296      0.197      -2.955       0.613
sports_per_capita            3.2627      5.892      0.554      0.581      -8.372      14.898
==============================================================================
Omnibus:                       27.719   Durbin-Watson:                   1.659
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.397
Skew:                          -0.733   Prob(JB):                     1.27e-13
Kurtosis:                       5.518   Cond. No.                     1.04e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.04e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""